body{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    width: 100vh;
    height: 100vh;

    font-family: 'Courier New', Courier, monospace;
}

button{
    height: 1.6em;
    width: 6em;
}

img{
    width: .6em;
    margin-right: 1em;
    opacity: 40%;
}

ul{
    padding: 1em 0em 0em 1.6em;
    margin:0;
}

li{
    list-style-type: none;
    margin-bottom: 2em;
}

#check{
    margin-right: 2em;
}

.checked{
    text-decoration:line-through;
    color: green;
}

#container{
    display: flex;
    flex-direction: column;

    min-width: 30em;
    min-height: 50em;
    
    border: 1px solid black;
}

#input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;

    min-width: 30em;
    min-height: 5em;
}

.input-field{
    width: 24em;

    margin-right: 2em;
}

#list{
    overflow: hidden;
    display: flex;
    justify-content:flex-start;

    max-width: 30em;
    max-height: 50em;
    padding:0;
    margin:0;

    /* border-top: 1px solid rgb(192, 192, 192); */
}